<?xml version="1.0" ?>
<XML>
	<XMLHEADER>version="1.0"</XMLHEADER>

	<SKIN>Default</SKIN>

	<DEFFONT>Arial</DEFFONT>

	<IME>false</IME>

	<BAREPORT>
		<ADDR>www.battlearena.com</ADDR>
		<DIR>incoming/gunz_US</DIR>
	</BAREPORT>

	<EMBLEM_URL>http://5.90.92.207/clanimages</EMBLEM_URL>
	<TEMBLEM_URL>http://5.90.92.207/clanimages</TEMBLEM_URL>

	<CASHSHOP_URL>http://gunz.ijji.com</CASHSHOP_URL>

	<HOMEPAGE>
	    <URL>http://gunz.ijji.com</URL>
	    <TITLE>GunZ the Dual</TITLE>
	</HOMEPAGE>

	<LOCATORLIST>
		<LOCATOR id="1" IP="173.44.34.82" />
	</LOCATORLIST>

</XML>
